/target
assets/custom/old
wasm/bevy_game_bg.wasm
wasm/bevy_game.js
wasm/index.html
wasm/assets/custom/spritesheet.png
wasm/assets/custom/spritesheet.pxo
wasm/assets/custom/old/black_tile.png
wasm/assets/custom/old/black_tile.png.import
wasm/assets/custom/old/black_tile.pxo
wasm/assets/custom/old/Board.png
wasm/assets/custom/old/board.png
wasm/assets/custom/old/Board.png.import
wasm/assets/custom/old/board.png.import
wasm/assets/custom/old/Board.pxo
wasm/assets/custom/old/chess_board_pattern.png
wasm/assets/custom/old/chess_board_pattern.png.import
wasm/assets/custom/old/healthbar_empty.png
wasm/assets/custom/old/healthbar_empty.png.import
wasm/assets/custom/old/Healthbar_UI_empty.png
wasm/assets/custom/old/Healthbar_UI_empty.png.import
wasm/assets/custom/old/Healthbar_UI.png
wasm/assets/custom/old/Healthbar_UI.png.import
wasm/assets/custom/old/HealthbarFull.png
wasm/assets/custom/old/HealthbarFull.png.import
wasm/assets/custom/old/heart.png
wasm/assets/custom/old/heart.png.import
wasm/assets/custom/old/king_attack_up.png
wasm/assets/custom/old/king_attack_up.png.import
wasm/assets/custom/old/king_attack_up.pxo
wasm/assets/custom/old/king_attack.pxo
wasm/assets/custom/old/life_steal.png
wasm/assets/custom/old/life_steal.png.import
wasm/assets/custom/old/piece_movement_bishop.png
wasm/assets/custom/old/piece_movement_bishop.png.import
wasm/assets/custom/old/piece_movement_horse.png
wasm/assets/custom/old/piece_movement_horse.png.import
wasm/assets/custom/old/piece_movement_king.png
wasm/assets/custom/old/piece_movement_king.png.import
wasm/assets/custom/old/piece_movement_knight.png
wasm/assets/custom/old/piece_movement_knight.png.import
wasm/assets/custom/old/piece_movement_pawn.png
wasm/assets/custom/old/piece_movement_pawn.png.import
wasm/assets/custom/old/piece_movement_queen.png
wasm/assets/custom/old/piece_movement_queen.png.import
wasm/assets/custom/old/piece_movement_rook.png
wasm/assets/custom/old/piece_movement_rook.png.import
wasm/assets/custom/old/piece_movement.png
wasm/assets/custom/old/piece_movement.png.import
wasm/assets/custom/old/pieces.pxo
wasm/assets/custom/old/player_315.png
wasm/assets/custom/old/player_315.png.import
wasm/assets/custom/old/player_320x320.png
wasm/assets/custom/old/player_320x320.png.import
wasm/assets/custom/old/player_512x512.png
wasm/assets/custom/old/player_512x512.png.import
wasm/assets/custom/old/player.png
wasm/assets/custom/old/player.png.import
wasm/assets/custom/old/player.pxo
wasm/assets/custom/old/regenration.png
wasm/assets/custom/old/regenration.png.import
wasm/assets/custom/old/selected_player.png
wasm/assets/custom/old/selected_player.png.import
wasm/assets/custom/old/shield.png
wasm/assets/custom/old/shield.png.import
wasm/assets/custom/old/sword_black.png
wasm/assets/custom/old/sword_black.png.import
wasm/assets/custom/old/sword_even.png
wasm/assets/custom/old/sword_even.png.import
wasm/assets/custom/old/sword_odd.png
wasm/assets/custom/old/sword_odd.png.import
wasm/assets/custom/old/sword_white.png
wasm/assets/custom/old/sword_white.png.import
wasm/assets/custom/old/sword.png
wasm/assets/custom/old/sword.png.import
wasm/assets/custom/old/untitled.pxo
wasm/assets/custom/old/white_king_attack.png
wasm/assets/custom/old/white_king_attack.png.import
wasm/assets/custom/old/white_tile.png
wasm/assets/custom/old/white_tile.png.import
wasm/assets/custom/old/white_tile.pxo
wasm/assets_/custom/spritesheet.png
wasm/assets_/custom/spritesheet.pxo
wasm/assets_/custom/old/black_tile.png
wasm/assets_/custom/old/black_tile.png.import
wasm/assets_/custom/old/black_tile.pxo
wasm/assets_/custom/old/Board.png
wasm/assets_/custom/old/board.png
wasm/assets_/custom/old/Board.png.import
wasm/assets_/custom/old/board.png.import
wasm/assets_/custom/old/Board.pxo
wasm/assets_/custom/old/chess_board_pattern.png
wasm/assets_/custom/old/chess_board_pattern.png.import
wasm/assets_/custom/old/healthbar_empty.png
wasm/assets_/custom/old/healthbar_empty.png.import
wasm/assets_/custom/old/Healthbar_UI_empty.png
wasm/assets_/custom/old/Healthbar_UI_empty.png.import
wasm/assets_/custom/old/Healthbar_UI.png
wasm/assets_/custom/old/Healthbar_UI.png.import
wasm/assets_/custom/old/HealthbarFull.png
wasm/assets_/custom/old/HealthbarFull.png.import
wasm/assets_/custom/old/heart.png
wasm/assets_/custom/old/heart.png.import
wasm/assets_/custom/old/king_attack_up.png
wasm/assets_/custom/old/king_attack_up.png.import
wasm/assets_/custom/old/king_attack_up.pxo
wasm/assets_/custom/old/king_attack.pxo
wasm/assets_/custom/old/life_steal.png
wasm/assets_/custom/old/life_steal.png.import
wasm/assets_/custom/old/piece_movement_bishop.png
wasm/assets_/custom/old/piece_movement_bishop.png.import
wasm/assets_/custom/old/piece_movement_horse.png
wasm/assets_/custom/old/piece_movement_horse.png.import
wasm/assets_/custom/old/piece_movement_king.png
wasm/assets_/custom/old/piece_movement_king.png.import
wasm/assets_/custom/old/piece_movement_knight.png
wasm/assets_/custom/old/piece_movement_knight.png.import
wasm/assets_/custom/old/piece_movement_pawn.png
wasm/assets_/custom/old/piece_movement_pawn.png.import
wasm/assets_/custom/old/piece_movement_queen.png
wasm/assets_/custom/old/piece_movement_queen.png.import
wasm/assets_/custom/old/piece_movement_rook.png
wasm/assets_/custom/old/piece_movement_rook.png.import
wasm/assets_/custom/old/piece_movement.png
wasm/assets_/custom/old/piece_movement.png.import
wasm/assets_/custom/old/pieces.pxo
wasm/assets_/custom/old/player_315.png
wasm/assets_/custom/old/player_315.png.import
wasm/assets_/custom/old/player_320x320.png
wasm/assets_/custom/old/player_320x320.png.import
wasm/assets_/custom/old/player_512x512.png
wasm/assets_/custom/old/player_512x512.png.import
wasm/assets_/custom/old/player.png
wasm/assets_/custom/old/player.png.import
wasm/assets_/custom/old/player.pxo
wasm/assets_/custom/old/regenration.png
wasm/assets_/custom/old/regenration.png.import
wasm/assets_/custom/old/selected_player.png
wasm/assets_/custom/old/selected_player.png.import
wasm/assets_/custom/old/shield.png
wasm/assets_/custom/old/shield.png.import
wasm/assets_/custom/old/sword_black.png
wasm/assets_/custom/old/sword_black.png.import
wasm/assets_/custom/old/sword_even.png
wasm/assets_/custom/old/sword_even.png.import
wasm/assets_/custom/old/sword_odd.png
wasm/assets_/custom/old/sword_odd.png.import
wasm/assets_/custom/old/sword_white.png
wasm/assets_/custom/old/sword_white.png.import
wasm/assets_/custom/old/sword.png
wasm/assets_/custom/old/sword.png.import
wasm/assets_/custom/old/untitled.pxo
wasm/assets_/custom/old/white_king_attack.png
wasm/assets_/custom/old/white_king_attack.png.import
wasm/assets_/custom/old/white_tile.png
wasm/assets_/custom/old/white_tile.png.import
wasm/assets_/custom/old/white_tile.pxo
